**DisneylandReviews 예제로 Pandas, Numpy 학습**

In [6]:
import numpy as np
import pandas as pd

In [7]:
df_disney = pd.read_csv("0.dataSet/DisneylandReviews.csv")
df_disney

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...,...
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [8]:
df_disney.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [10]:
df_disney.tail()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [11]:
print(type(df_disney))

<class 'pandas.core.frame.DataFrame'>

In [13]:
df_disney.describe()

          Review_ID        Rating
count  4.265600e+04  42656.000000
mean   3.188553e+08      4.217695
std    1.657092e+08      1.063371
min    1.398724e+06      1.000000
25%    1.743274e+08      4.000000
50%    2.907583e+08      5.000000
75%    4.489579e+08      5.000000
max    6.708014e+08      5.000000

In [14]:
df_disney.index

RangeIndex(start=0, stop=42656, step=1)

In [15]:
df_disney.values

array([[670772142, 4, '2019-4', 'Australia',
        "If you've ever been to Disneyland anywhere you'll find Disneyland Hong Kong very similar in the layout when you walk into main street! It has a very familiar feel. One of the rides  its a Small World  is absolutely fabulous and worth doing. The day we visited was fairly hot and relatively busy but the queues moved fairly well. ",
        'Disneyland_HongKong'],
       [670682799, 4, '2019-5', 'Philippines',
        "Its been a while since d last time we visit HK Disneyland .. Yet, this time we only stay in Tomorrowland .. AKA Marvel land!Now they have Iron Man Experience n d Newly open Ant Man n d Wasp!!Ironman .. Great feature n so Exciting, especially d whole scenery of HK (HK central area to Kowloon)!Antman .. Changed by previous Buzz lightyear! More or less d same, but I'm expecting to have something most!!However, my boys like it!!Space Mountain .. Turns into Star Wars!! This 1 is Great!!!For cast members (staffs) .. Felt bit MINUS point from before!!! Just dun feel like its a Disney brand!! Seems more local like Ocean Park or even worst!!They got no SMILING face, but just wanna u to enter n attraction n leave!!Hello this is supposed to be Happiest Place on Earth brand!! But, just really Dont feel it!!Bakery in Main Street now have more attractive delicacies n Disney theme sweets .. These are Good Points!!Last, they also have Starbucks now inside the theme park!!",
        'Disneyland_HongKong'],
       [670623270, 4, '2019-4', 'United Arab Emirates',
        'Thanks God it wasn   t too hot or too humid when I was visiting the park   otherwise it would be a big issue (there is not a lot of shade).I have arrived around 10:30am and left at 6pm. Unfortunately I didn   t last until evening parade, but 8.5 hours was too much for me.There is plenty to do and everyone will find something interesting for themselves to enjoy.It wasn   t extremely busy and the longest time I had to queue for certain attractions was 45 minutes (which is really not that bad).Although I had an amazing time, I felt a bit underwhelmed with choice of rides and attractions. The park itself is quite small (I was really expecting something grand   even the main castle which was closed by the way was quite small).The food options are good, few coffee shops (including Starbucks) and plenty of gift shops. There was no issue with toilets as they are everywhere.All together it was a great day out and I really enjoyed it.',
        'Disneyland_HongKong'],
       ...,
       [1645894, 5, 'missing', 'South Africa',
        'My eleven year old daughter and myself went to visit my son in London and we decided to go on to Disneyland Paris. We stayed for two nights and three days at the Hotel Du Moulon, which was great value for money and close to Disneyland. The highlight of our stay was the Walt Disney Studios. Unfortunately, by the third day we had to rush to see everything, so I would suggest three nights and four days to do and see all. We went in May, which I would recommend to all, as the lines on most rides were not very long and the weather is also good.Colleen Smit',
        'Disneyland_Paris'],
       [1618637, 4, 'missing', 'United States',
        'This hotel, part of the Disneyland Paris complex, is a wonderful place for families. Since we have 3 kids, we needed a room with a  crew area . This consisted of a nice bath with separate toilet area from the shower tub, a large room with TV and 2 double beds, plus a smaller room with bunk beds and a 2nd TV. The rate was reasonable and included unlimited entry to the park. Also included was a wonderful breakfast. The service was fantastic. The only drawback throughout Europe was the size of their bath cloths. They are much too large. Larger than our hand towels. Carry your own wash cloths with you!',
        'Disneyland_Paris'],
       [1536786, 4, 'missing', 'United Kingdom',
        'I went to the Disneyparis resort, in 1996, with a small child. The minute you enter, the transport to disneyland paris, you are treated like a special guest. The compnay really know how to treat there guest from start to finsh. We arrive at the disneyland resort. The hotels are out of this world, like a storybook coming alive, in front of your eyes. The hotel Santa Fa, is based around a mexico villiage, all rooms are themed in a mexico style. Large beds and large rooms. the one disadvantage is no swimming pool, which would be have been great in a french climate( we went in June) 90  100 degrees everyday. the hotel has playgrounds and themed facilities. There is a nice walk to the disneyland parks and boardwalks. It takes around 20 mins on foot.We are revisting Disneyland paris resort in 2004, I would like to stay at this hotel, very friendly and helpful. It is a change from beach resort, with magic and fun as a added extra, disney magic is never forgotten,. Yours michelle Pilling',
        'Disneyland_Paris']], dtype=object)

In [16]:
df_disney.value_counts

<bound method DataFrame.value_counts of        Review_ID  Rating Year_Month     Reviewer_Location  \
0      670772142       4     2019-4             Australia
1      670682799       4     2019-5           Philippines
2      670623270       4     2019-4  United Arab Emirates
3      670607911       4     2019-4             Australia
4      670607296       4     2019-4        United Kingdom
...          ...     ...        ...                   ...
42651    1765031       5    missing        United Kingdom
42652    1659553       5    missing                Canada
42653    1645894       5    missing          South Africa
42654    1618637       4    missing         United States
42655    1536786       4    missing        United Kingdom

                                             Review_Text               Branch
0      If you've ever been to Disneyland anywhere you...  Disneyland_HongKong
1      Its been a while since d last time we visit HK...  Disneyland_HongKong
2      Thanks God it wasn   t too hot or too humid wh...  Disneyland_HongKong
3      HK Disneyland is a great compact park. Unfortu...  Disneyland_HongKong
4      the location is not in the city, took around 1...  Disneyland_HongKong
...                                                  ...                  ...
42651  i went to disneyland paris in july 03 and thou...     Disneyland_Paris
42652  2 adults and 1 child of 11 visited Disneyland ...     Disneyland_Paris
42653  My eleven year old daughter and myself went to...     Disneyland_Paris
42654  This hotel, part of the Disneyland Paris compl...     Disneyland_Paris
42655  I went to the Disneyparis resort, in 1996, wit...     Disneyland_Paris

[42656 rows x 6 columns]>

In [18]:
df_disney.value_counts(normalize=True)

Review_ID  Rating  Year_Month  Reviewer_Location  Review_Text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Branch
129231609  5       2012-4      United States      Let me just start off by saying that although Disneyland Hong Kong is smaller, Their beautiful facilities and caring staff more than make up for this. There are many different attractions and restaurants to try, but the thing I was mostimpressed with is definately the...More                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Disneyland_HongKong      0.000047
129207323  5       2011-9      Australia          Having never been to any Disneyland I was thrilled with the place. Image having to wait until you are 49 to ride the tea cups. I must admit it is a little alarming hear Mickey with a Chinese dialect, but overall it was a great...More                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Disneyland_HongKong      0.000047
121578357  5       2011-12     Singapore          Like all the rides & show. Took photo with some cantoon characters. Very innovative & eye opener. Thumbs up!!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           Disneyland_HongKong      0.000047

In [19]:
df_disney.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [20]:
df_disney['Reviewer_Location'].unique()

array(['Australia', 'Philippines', 'United Arab Emirates',
       'United Kingdom', 'Singapore', 'India', 'Malaysia',
       'United States', 'Canada', 'Myanmar (Burma)', 'Hong Kong', 'China',
       'Indonesia', 'Qatar', 'New Zealand', 'Sri Lanka', 'Uganda',
       'Thailand', 'Austria', 'South Africa', 'Saudi Arabia', 'Japan',
       'Israel', 'South Korea', 'Turkey', 'Macau', 'Egypt', 'Mexico',
       'Mauritius', 'Sweden', 'Brazil', 'Kenya', 'Vietnam', 'Portugal',
       'Cambodia', 'Zambia', 'Croatia', 'France', 'Taiwan', 'Oman',
       'Colombia', 'Norway', 'Kuwait', 'Netherlands', 'Barbados',
       'Finland', 'Bosnia and Herzegovina', 'Brunei', 'Bahrain',
       'Maldives', 'Ireland', 'Russia', 'Romania',
       'Northern Mariana Islands', 'Germany', 'Chile', 'Isle of Man',
       'Pakistan', 'Ukraine', 'Greece', 'Switzerland', 'Spain', 'Estonia',
       "C?e d'Ivoire", 'Guam', 'Bangladesh', 'Belgium', 'Italy',
       'Botswana', 'Denmark', 'Argentina', 'Peru', 'Lithuania', 'Iran',
       'Mali', 'Uruguay', 'Mongolia', 'Zimbabwe', 'Seychelles',
       'Puerto Rico', 'Hungary', 'Fiji', 'Nepal', 'Jordan', 'Cyprus',
       'Venezuela', 'Dominican Republic', 'Czechia', 'Bulgaria', 'Ghana',
       'Ethiopia', 'The Bahamas', 'Serbia', 'Montenegro', 'Guatemala',
       'Kazakhstan', 'Poland', 'Vanuatu', 'Laos', 'Cura?o',
       'Falkland Islands (Islas Malvinas)', 'Andorra', 'Haiti',
       'Costa Rica', 'Nigeria', 'Jersey', 'Solomon Islands', 'Mozambique',
       'Cook Islands', 'South Sudan', 'Gibraltar', 'Trinidad and Tobago',
       'Afghanistan', 'Timor-Leste', 'Luxembourg', 'Rwanda', 'Tanzania',
       'Lebanon', 'Ecuador', 'Turks and Caicos Islands', 'Malta',
       'U.S. Virgin Islands', 'Slovakia', 'Iceland', 'Aruba',
       'French Polynesia', 'Tunisia', 'Armenia', 'Panama', 'Namibia',
       'Cuba', 'Honduras', 'Nicaragua', 'Bolivia', 'Papua New Guinea',
       'Iraq', 'Caribbean Netherlands', 'Morocco', 'Jamaica',
       'Cayman Islands', 'North Macedonia', 'Albania',
       'Antigua and Barbuda', 'Uzbekistan', 'Azerbaijan', 'Latvia',
       'Suriname', 'Algeria', 'Grenada', 'Malawi', 'Monaco', 'Guernsey',
       'Georgia', 'Moldova', 'Senegal', 'Libya', 'Madagascar',
       'Democratic Republic of the Congo', 'El Salvador', 'Slovenia',
       'Sudan', '흈and Islands'], dtype=object)

In [24]:
df_disney.take([1,2])

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong

In [26]:
df_disney.iloc[[100,200]]

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
100,662664830,3,2019-2,India,"It s a very huge game cum theme park, so if ...",Disneyland_HongKong
200,653385350,5,2019-2,United States,Much smaller than the US versions and you can ...,Disneyland_HongKong

In [27]:
df_disney[['Year_Month', 'Branch']]

      Year_Month               Branch
0         2019-4  Disneyland_HongKong
1         2019-5  Disneyland_HongKong
2         2019-4  Disneyland_HongKong
3         2019-4  Disneyland_HongKong
4         2019-4  Disneyland_HongKong
...          ...                  ...
42651    missing     Disneyland_Paris
42652    missing     Disneyland_Paris
42653    missing     Disneyland_Paris
42654    missing     Disneyland_Paris
42655    missing     Disneyland_Paris

[42656 rows x 2 columns]

In [28]:
df_disney.value_counts('Rating')

Rating
5    23146
4    10775
3     5109
2     2127
1     1499
dtype: int64

In [29]:
df_disney['Rating'].value_counts(dropna=False)

5    23146
4    10775
3     5109
2     2127
1     1499
Name: Rating, dtype: int64

In [30]:
df_disney.index

RangeIndex(start=0, stop=42656, step=1)

In [31]:
df_disney.columns

Index(['Review_ID', 'Rating', 'Year_Month', 'Reviewer_Location', 'Review_Text',
       'Branch'],
      dtype='object')

In [32]:
df_disney.count()

Review_ID            42656
Rating               42656
Year_Month           42656
Reviewer_Location    42656
Review_Text          42656
Branch               42656
dtype: int64

In [33]:
type(df_disney['Year_Month'])

pandas.core.series.Series

In [34]:
df_disney['Year_Month'].value_counts(dropna=False)

missing    2613
2015-8      786
2015-7      759
2015-12     701
2015-6      692
           ...
2010-8        7
2010-5        4
2019-5        2
2010-3        2
2010-4        1
Name: Year_Month, Length: 112, dtype: int64

In [35]:
s = pd.Series(df_disney['Year_Month'].dropna())
s.value_counts(dropna=False)

missing    2613
2015-8      786
2015-7      759
2015-12     701
2015-6      692
           ...
2010-8        7
2010-5        4
2019-5        2
2010-3        2
2010-4        1
Name: Year_Month, Length: 112, dtype: int64

In [36]:
df_disney.ndim

2

In [37]:
df_disney.shape

(42656, 6)

In [38]:
df_disney1 = pd.concat([df_disney, s])
df_disney1

,0,Branch,Rating,Review_ID,Review_Text,Reviewer_Location,Year_Month
0,NaN,Disneyland_HongKong,4.0,670772142.0,If you've ever been to Disneyland anywhere you...,Australia,2019-4
1,NaN,Disneyland_HongKong,4.0,670682799.0,Its been a while since d last time we visit HK...,Philippines,2019-5
2,NaN,Disneyland_HongKong,4.0,670623270.0,Thanks God it wasn t too hot or too humid wh...,United Arab Emirates,2019-4
3,NaN,Disneyland_HongKong,4.0,670607911.0,HK Disneyland is a great compact park. Unfortu...,Australia,2019-4
4,NaN,Disneyland_HongKong,4.0,670607296.0,"the location is not in the city, took around 1...",United Kingdom,2019-4
...,...,...,...,...,...,...,...
42651,missing,NaN,NaN,NaN,NaN,NaN,NaN
42652,missing,NaN,NaN,NaN,NaN,NaN,NaN
42653,missing,NaN,NaN,NaN,NaN,NaN,NaN
42654,missing,NaN,NaN,NaN,NaN,NaN,NaN
42655,missing,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_disney2 = pd.concat([df_disney, s], axis=1)
df_disney2

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,Year_Month
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019-4
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019-5
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019-4
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019-4
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019-4
...,...,...,...,...,...,...,...
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris,missing
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris,missing
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris,missing
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris,missing
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris,missing

In [40]:
df_disney.sort_values(by='Rating', ascending=True)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
25271,148046893,1,missing,Turks and Caicos Islands,fastpass is a con. You can only check in yup o...,Disneyland_California
6653,239160649,1,2014-10,Australia,I am so glad that I have been lucky enough to ...,Disneyland_HongKong
33072,429014168,1,2016-5,Czechia,"far too comercial, it is not 'in' theese day...",Disneyland_Paris
33039,430636694,1,2016-10,Netherlands,You have to pay a whole lot of money to get to...,Disneyland_Paris
21438,218942479,1,2014-7,United States,We went Disney July 23.24th. Prices keep going...,Disneyland_California
...,...,...,...,...,...,...
11084,574949379,5,2018-4,United States,Great fun for first or 20th time. It's especia...,Disneyland_California
24700,155939460,5,2013-3,Canada,Just finished 3 days in the park during March ...,Disneyland_California
24699,155940018,5,2013-3,United States,A Little pricey but you get to back to being a...,Disneyland_California
24710,155847738,5,2013-3,Australia,My wife and I had a couple days in LA on busin...,Disneyland_California
28900,5523980,5,missing,Australia,"We were at Disneyland on July 9th, 10th and 11...",Disneyland_California

In [41]:
df_disney.sort_values(by='Year_Month', ascending=True)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
28251,118010038,5,2010-10,United States,The Disney Land Half Marathon was one of the b...,Disneyland_California
28426,112342838,5,2010-10,Australia,Had a great and fun time visiting Disneyland. ...,Disneyland_California
28407,113951461,5,2010-10,United States,"I have been to Disneyland numerous times, duri...",Disneyland_California
28367,115918375,4,2010-10,United States,Disneyland is a personal experience. My opinio...,Disneyland_California
28330,116603111,5,2010-10,Australia,"Visited in the off season, no huge lines, whic...",Disneyland_California
...,...,...,...,...,...,...
28687,46306256,4,missing,United States,Made a memorable trip to Disneyland with my da...,Disneyland_California
28688,46305610,5,missing,United States,Loved Disneyland. We ate at Goofy's Kitchen an...,Disneyland_California
28689,46295035,5,missing,United States,"Save $$$, by staying at a nearby hotel that is...",Disneyland_California
28676,46776242,5,missing,United States,We brought our toddlers here for the first tim...,Disneyland_California
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [42]:
df_disney.sort_values(by='Rating', ascending=False)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
21328,221443117,5,2013-9,United States,Disneyland has been a favorite since I was 5 y...,Disneyland_California
17656,310933989,5,2015-8,United Kingdom,As they say Disneyland is the place dreams are...,Disneyland_California
17654,311025331,5,2015-9,United Kingdom,I was there for a week prior to Labour Day and...,Disneyland_California
17653,311045924,5,2015-7,United States,What can I say about Disneyland and California...,Disneyland_California
17652,311068724,5,2015-9,Australia,"The first time I came to Disneyland, I couldn'...",Disneyland_California
...,...,...,...,...,...,...
21438,218942479,1,2014-7,United States,We went Disney July 23.24th. Prices keep going...,Disneyland_California
13268,467863382,1,2017-3,United States,Drove from Texas 20 hours in the car with 5 ki...,Disneyland_California
38368,202279052,1,2013-5,Malta,I have been trying to book some tickets from y...,Disneyland_Paris
38370,202237686,1,2014-4,United Kingdom,From a young age I yearned to go to Disneyland...,Disneyland_Paris
33706,388534006,1,2016-7,Australia,If you have older children they will be very d...,Disneyland_Paris

In [43]:
df_disney.sort_values(by='Year_Month', ascending=False)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris
27101,126691749,2,missing,United States,"You had to park far from the park, take an esc...",Disneyland_California
27086,126744883,5,missing,United States,Just magical! I am an annual pass holder and I...,Disneyland_California
27082,126749385,4,missing,United States,"Again, Disney knows how to do it but if you al...",Disneyland_California
27070,126766217,5,missing,United States,"Disneyland is still fun after all these years,...",Disneyland_California
...,...,...,...,...,...,...
41818,118459970,5,2010-10,United States,"Adults and Children alike will adore this, Chi...",Disneyland_Paris
28251,118010038,5,2010-10,United States,The Disney Land Half Marathon was one of the b...,Disneyland_California
28258,117990655,4,2010-10,Argentina,"Everything about Disney is magical, we all kno...",Disneyland_California
28330,116603111,5,2010-10,Australia,"Visited in the off season, no huge lines, whic...",Disneyland_California
28407,113951461,5,2010-10,United States,"I have been to Disneyland numerous times, duri...",Disneyland_California

In [44]:
df_disney.Year_Month

0         2019-4
1         2019-5
2         2019-4
3         2019-4
4         2019-4
          ...
42651    missing
42652    missing
42653    missing
42654    missing
42655    missing
Name: Year_Month, Length: 42656, dtype: object

In [45]:
df_disney['Year_Month']

0         2019-4
1         2019-5
2         2019-4
3         2019-4
4         2019-4
          ...
42651    missing
42652    missing
42653    missing
42654    missing
42655    missing
Name: Year_Month, Length: 42656, dtype: object

In [48]:
df_disney[0:10]

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
5,670591897,3,2019-4,Singapore,"Have been to Disney World, Disneyland Anaheim ...",Disneyland_HongKong
6,670585330,5,2019-4,India,Great place! Your day will go by and you won't...,Disneyland_HongKong
7,670574142,3,2019-3,Malaysia,Think of it as an intro to Disney magic for th...,Disneyland_HongKong
8,670571027,2,2019-4,Australia,"Feel so let down with this place,the Disneylan...",Disneyland_HongKong
9,670570869,5,2019-3,India,I can go on talking about Disneyland. Whatever...,Disneyland_HongKong

In [49]:
a = df_disney['Year_Month'] = pd.Series(df_disney['Year_Month'], dtype='int64')
a

0         2019-4
1         2019-5
2         2019-4
3         2019-4
4         2019-4
          ...
42651    missing
42652    missing
42653    missing
42654    missing
42655    missing
Name: Year_Month, Length: 42656, dtype: object